body,
html {
  background-image: linear-gradient(to right,#FFE3E1,#FFD1D1,#FF9494);
  
}

.modal-card-head {
  background-color: #FFF5E4;
}

.modal-card-body {
  height: 20rem;
}

.modal-card-body-calendar {
  height: 40rem;
  
}

.delete-button:hover {
  color: gray;
  cursor: pointer;
}

.card-panel {
  display: flex;
  flex-direction: column;
}

#app-navbar {
  background-color: #FFB9B9;
}


  @media (min-width:769px){
    .calendar {
      width: 900px;
    }

  }

  @media (min-width: 481px) and (max-width: 768px){
    .calendar {
      width: 600px;
      
    }
  }


  @media (max-width: 480px) {
    .calendar {
      width: 300px;
    }
   table{
    font-size: small;
   }
  }


