@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

h1 {
  font-family: "Lobster", cursive;
  color: #f473b9;

  //color: #ffc0d3;
}

h2 {
  color: #ffc0d3;
}

img {
  max-width: 30%;
}

.img-logo {
  max-width: 20%;
}
